#para{
    
 margin-left: 188px;
    width: 300px;
    text-align: center;
    padding-top: 22px;
    font-size: 17px;
}
.child1{
    width: 50%;
    text-align: center;
    margin-top: 65px;
    color: white;
}
#head{
    font-size: 50px;
}
.child2{
    

    margin-left: 125px;
    margin-top: 39px 
}
#Name,#mail,#phone,#textarea,#submit{
    border-radius: 10px;
    width: 300px;
    font-size: 25px;

}
#submit{
width: 200px;
height: 50px;
margin-left: 41px;
}
body{
    background-image: url(../images/photo-1703750960068-a729aec4251c.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
#para2{
    color: white;
    font-size: 25px;
    text-align: center;
}
